#############################################################
#           Taiyou Game Engine Configuration File           #
#############################################################
# ---------- Disable Engine Features ---------- #
DisableFontRendering:False
DisableSpriteRendering:False
DisableRectangleRendering:False
DisableSpriteTransparency:False
DisableSoundSystem:False

# ---------- Pygame SDL's Settings ---------- #
VideoDriver:x11
VideoX11_CenterWindow:True
VideoX11_DGAMouse:True
VideoX11_YUV_HWACCEL:True
InputMouseDriver:fbcon
InputDisableMouse:False
AudioDriver:alsa

# ---------- Audio Device Properties ---------- #
AudioFrequency:96000
AudioSize:-16
AudioChannels:2
AudioBufferSize:1500

# ---------- Misc Options ---------- #
RunInFullScreen:False
#AutoBoot:Fogoso
# /\ Setting the value to "null" will make the loading screen loading forever.
AppDataFolder:Taiyou/HOME/AppsData/
IgnoreDriversParameters:False
BitDepth:16

# ---------- Pygame Options ---------- #
SmoothScaleBackend:MMX 
FastEvent:True

############################
# -- SmoothScaleBackend -- #
############################
#   Option          Test
#=========================
#   MMX             Faster     
#   GENERIC         Slower   
#   SSE             Medium (betwhen faster and slower)   
#
#===The default value is: MMX

#########################################################
#        ---------- SDL Video Drivers ----------        #
#########################################################
#    Some of then may not work, compactabiliy is not    #
#                         guaranted.                    #
#-------------------------------------------------------#
#
#   Driver          OS Name
#==================================================== 
#   x11             Any                                 
#   ggi             Any                                 
#   aalib           Any
#   dummy           Any
#   nanox	        Linux
#   fbcon	        Linux
#   directfb        Linux
#   svgalib         Linux
#   toolbox         MacOS Classic
#   DSp             MacOS Classic
#   Quartz          Mac OS X
#   CGX             Amiga
#   ps2gs           Playstation 2
#   bwindow         BeOS
#   vgl             BSD
#   dga             XFree86 DGA2
#   directx         Windows
#   windib          Windows
#
#=== The default option depends on you'r operational system.

######################################################### 
#       -- Options Avaliable for Audio Drivers --       #
#########################################################
#    Some of then may not work, compactabiliy is not    #
#                         guaranted.                    #
#-------------------------------------------------------#
#
#   Driver          OS Name
#=========================================================
#   openbsd         OpenBSD
#   dsp             Linux, Solaris, BSD
#   alsa            Linux
#   pulse           Pulse Audio Daemon
#   audio           SunOS, Solaris
#   AL              Irix
#   artsc           ARTS Audio Daemon
#   esd             esound Audio Daemon
#   nas             NAS Audio Daemon
#   dma             OSS /dev/dsp using DMA
#   dsound          Windows DirectX
#   waveout         Windows WaveOut
#   baudio          BeOS
#   sndmgr          MacOS SoundManager
#   paud            AIX
#   AHI             Amiga
#
#=== The default option depends on you'r operational system.

#######################################################################################################
#                      -- The AudioDrivers and VideoDrivers List was taken from: --                   #
# https://www.libsdl.org/release/SDL-1.2.15/docs/html/sdlenvvars.html                                 #
#-----------------------------------------------------------------------------------------------------#






